{% extends "common/map-viewer-only.html" %}
{% load absurl %}
{% block headtwo %}
    <script type="text/javascript" src="{{MEDIA_URL}}d3.js"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}stream.js"></script>
    <script src="{{MEDIA_URL}}flowplayer/example/flowplayer-3.2.4.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{MEDIA_URL}}jquery.ba-throttle-debounce.min.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{MEDIA_URL}}jquery-autocomplete-r3.2.2/jquery.autocomplete.js"></script>
    <link rel="stylesheet" href="{{MEDIA_URL}}jquery-autocomplete-r3.2.2/jquery.autocomplete.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{{MEDIA_URL}}search.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="{{MEDIA_URL}}pyrifera.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" charset="utf-8">
        google.load("search", "1");

        var html_decode = function(h){ return $('<p>'+h+'</p>').text(); };
        var search_url;

        function rsList(){
            var ph = $('#search_panel').parent().parent().parent().height();
            var sph = $('#search_panel').height();
            var sfh = $('#search_footer').height();
            $('#search_list').height(ph - sph - sfh - 31);
        }
        
        var req;
        
        var qValue = '';
        var cOffset = 0;
        
        function onTaxonSubmit(offset, force){
            if(!offset){
                offset = 0;
            }
            var val = $('#query').val();
            if(qValue === val && cOffset === offset && !force){
                return;
            }else{
                if(req && req.abort){
                    req.abort();
                }
                image_queue = [];
                cOffset = offset;
                qValue = val;
                var url = search_url + '?q=' + val;
                if(offset){
                    url = url + '&offset='+offset;
                }
                req = $.getJSON(url, onRetrieveTaxonSearchResults);
            }
        }
        
        function onRetrieveTaxonSearchResults(data){
            $('#search_list').scrollTop(0);
            $('span.count').html(data['count']);
            $('span.offset').html(data['offset']);
            $('span.offset2').html(data['offset2']);
            $('a.nav.back').toggleClass('disabled', data['offset'] === 0);
            $('a.nav.forward').toggleClass('disabled', data['offset2'] >= data['count']);
            $('#search_list ul').html(data['results'].join('\n'));
            loadImages($('#search_list'));
        }

        function setupAutocomplete(el){
            {% load absurl %}
            var base_url = "{% absurl monitoring.views.autocomplete %}";
            search_url = "{% absurl monitoring.views.autocomplete2 %}";

            el.parent().submit(function(e){
                e.preventDefault();
                onTaxonSubmit();
            });
            
            $('#query').keydown($.debounce(200, function(){
                onTaxonSubmit();
            }));
            
            onTaxonSubmit(0, true);
            
                        
            var parent = el.parent().parent().parent();
            parent.find('a.forward').click(function(e){
                if($(this).hasClass('disabled')){
                    return;
                }
                e.preventDefault();
                var offset = (cOffset || 0) + 10;
                onTaxonSubmit(offset);
            });

            parent.find('a.back').click(function(e){
                if($(this).hasClass('disabled')){
                    return;
                }
                e.preventDefault();
                onTaxonSubmit(cOffset - 10 || 0);
            });
            
            $('#search_list a.view_data').live('click', handleDataLinkClick);

            // el.autocomplete({
            //     url: base_url,
            //     delay: 200,
            //     matchSubset: false,
            //     autoFill: false,
            //     onItemSelect: function(){
            //         var i = $('#query');
            //         i.val(html_decode(i.val()));
            //     }
            // });
            google.search.Search.getBranding($('#search_footer .powered')[0], google.search.Search.HORIZONTAL_BRANDING);   
        }
        
        var image_queue;
        var queue_position;
        var search;
        
        google.setOnLoadCallback(function(){
            search = new google.search.ImageSearch();
            search.setSearchCompleteCallback(this, searchComplete, null);
            search.setResultSetSize(1);
            search.setRestriction(google.search.ImageSearch.RESTRICT_RIGHTS, google.search.ImageSearch.RIGHTS_REUSE);
            $('#nowShowing a img').live('click', function(){
                clearPData();
                var sites_li = $('li.kmltree-item:first')
                if(!sites_li.hasClass('visible')){
                    sites_li.find('.toggler').click();                
                }
            });
        });
                        
        function loadImages(container){
            queue_position = 0;
            image_queue = container.find('.image_results');
            if(queue_position < image_queue.length){
                loadNext();
            }
        }
        
        function loadNext(){
            var el = $(image_queue[queue_position]);
            var term = el.data('search-term');
            if(term && term.length){
                search.execute(term);                
            }else{
                queue_position++;
                if(queue_position < image_queue.length){
                    loadNext();
                }
            }
        }
        
        function searchComplete(){
            if(image_queue.length === 0){
                // probably updated search terms already
                return;
            }
            var el = $(image_queue[queue_position]);
            if(search.results && search.results.length > 0){
                var result = search.results[0];
                var node = result.html.cloneNode(true);
                el.append(node);
                el.css('background-color', 'transparent').css('border', 'none');
                el.find('a.gs-image').click(function(e){
                    window.open(result.originalContextUrl);
                    e.preventDefault();
                });
            }
            queue_position++;
            if(queue_position < image_queue.length){
                loadNext();
            }
        }
        
        
        
        // Begin "View Data" link handling section
        function handleDataLinkClick(e){
            e.preventDefault();
            var a = $(this);
            var href = a.attr('href');
            loadPData(href, a.attr('title'));
        }
        
        var currentNl;
        
        function loadPData(href, title){
            var sites_li = $('li.kmltree-item:first')
            if(sites_li.hasClass('visible')){
                sites_li.find('.toggler').click();                
            }
            if(currentNl){
                clearPData();
            }
            var link = ge.createLink('');
            link.setHref(href);

            var networkLink = ge.createNetworkLink('');
            networkLink.set(link, true, true); // Sets the link, refreshVisibility, and flyToView

            ge.getFeatures().appendChild(networkLink);
            currentNl = networkLink;
            $('#nowShowing').html('<a href="#"><img src="{{MEDIA_URL}}common/images/close.png"></a>Now showing '+title);
            $('#nowShowing').show();
        }
        
        function clearPData(){
            $('#nowShowing').hide();
            $('#nowShowing').html('');
            if(currentNl){
                ge.getFeatures().removeChild(currentNl);
                currentNl = null;
            }
        }
        
        function balloonOpening(e){
            var f = e.getFeature();
            // Test if part of a proportional symbol data layer
            if(f.getUrl().indexOf('proportional') != -1){
                e.preventDefault();
                kmltreeManager._openBalloon(f, {
                    api: {
                        opts: {
                            displayEnhancedContent: true, 
                            sandboxedBalloonCallback: function(){}, 
                            iframeSandbox: 'http://underbluewaters-try-unsafe-popups.googlecode.com/hg/src/iframe.html'
                        }
                    }
                });
            }
        }
        
    </script>
    <style id="videostyle" type="text/css" media="screen">
        /* styling of the container. */

        div.videos {
            margin:0;
            padding:0;
            padding:15px;
            margin-left:-15px;
/*            width:490px;*/
/*            overflow:hidden;*/
/*            background-color:black;*/
        }

        a.myPlayer {
        	display:none;
        	width: 470px;
        	height:313px; 
        	text-align:center;
        	margin:5px 0;
/*          margin-left:-10px;*/
        	padding:0;
        	float:left;
/*          border:1px solid #999;*/
            border:none;
        }

        /* play button */
        a.myPlayer img {
        	margin-top:140px;
        	border:0px;
        }

        /* when container is hovered we alter the border color */
        a.myPlayer:hover {
/*          border:1px solid #000;*/
            border:none;
        }

        a.years {
            text-decoration:none;
        }

        a.nowPlaying {
            text-decoration:underline;
        }

        a.years:hover {
            text-decoration:underline;
        }


        /* popup styling */
        p.project img.logo {
            margin-bottom:-5px;
            margin-right:5px;
        }
        
        table.popup h3 {
            padding:0px;
            margin:0px;
            margin-top:5px;
            margin-bottom:2px;
        }
        
        table.popup p {
            padding:3px;
            margin:0;
        }
        
        table.popup {
            margin:0;
            padding:0;
        }
    </style>

{% endblock headtwo %}
{% block tabs %}
    <li><a href="#Monitoring"><span>Monitoring Data</span></a></li>
{% endblock tabs %}

{% block tabscontents %}
    <div id="Monitoring">
        <p>
            Welcome to pyrifera, an interactive application for visualizing 
            ecological monitoring data.
        </p>
        <p>
            Pan around on the globe and click on placemarks to view content 
            from survey sites such as underwater video and species lists. You
            can also view data on species distribution by selecting 
            <em>Search or Browse Species Data</em>.
        </p>
        <p>
            Open up the supplemental layers menu (layers icon above) to toggle
            datasets such as Marine Protected Areas.
        </p>
        {% for project in projects.all %}
        <div class="project" id="project_{{project.pk}}">
            <h2>{{project.name}}</h2>
            <ul class="project_list">
                <li><a class="search" href="{% url monitoring.views.search project.pk %}" rel="sidebar">Search or Browse Species Data</a></li>
                <li id="nowShowing" style="display:none;"></li>
                <li>
                    <div class="tree" data-sites-url="{% absurl monitoring.views.sites_nl project.pk %}" id="project_sites_{{project.pk}}"></div>
                </li>
            </ul>            
        </div>
        {% endfor %}
        <!-- <p><input style="float:left;margin-right:1em;width:50%;padding-top:6px;" type="text" name="search" value="species name" id="search"><a id="speciessearch" href="#" class="button"><span>Search</span></a></p><br style="clear:both;" />
        <div id="sites_tree"></div> -->
    </div>
{% endblock tabscontents %}

{% block layersConfig %}
    
    // setup which kml files are shown in the data layers panel
    lingcod.addLayer('{% url public-data-layers %}');

    var search_panel;

    $(lingcod).bind('earthReady', function(e, ge, gex){
        
        google.earth.addEventListener(ge, 'balloonopening', balloonOpening);
        
        $('#panel-holder').prepend('<div id="spc">');

        search_panel = lingcod.panel({appendTo: $('#spc'), 
            showCloseButton: false});
        
        $('#search_panel a.close').live('click', function(e){
            search_panel.hide();
            e.preventDefault();
        });
            
        $('.project_list').each(function(){
            var tree_el = $(this).find('.tree');
            var tree = kmltree({
                url: tree_el.data('sites-url'),
                gex: gex,
                mapElement: $('#map3d'),
                element: tree_el,
                bustCache: true,
                setExtent: true,
                displayEnhancedContent: true,
                supportItemIcon: true
            });
            tree.load();
        });
    });
    
    $('.project_list a[rel=sidebar]').live('click', function(e){
        var href = $(this).attr('href');
        e.preventDefault();
        search_panel.showUrl(href, {});
    });
{% endblock layersConfig %}

{% block metanavigation %}
<li><a href="#" id="about">about this site</a></li>    
{% endblock metanavigation %}