# The following Google key is for localhost:
GOOGLE_API_KEY = 'ABQIAAAAbEBR9v0lqBFdTfOcbe5WjRSwtTT5GAxiJqzQ69gC1VuJs9XrFRSHtkp9BFyAR6_lVVfY3MBP3uA7Mg'

MEDIA_ROOT = '/path/to/media/'
MEDIA_URL = 'http://url/for/media'