div.project_list_holder {
    background: #f4f8fb url(./kfm/logo_large_bg.png) no-repeat top left;
    min-height:250px;
}

div.project_list_holder > ul {
    padding-left:175px;
    padding-top:30px;
}

div.project a.search {
    padding:10px;
    margin-left:8px;
    padding-left:31px;
    background: transparent url(images/search.png) no-repeat left center;
    color:#14265E;
    text-decoration:none;
}

div.project a.search:hover {
    text-decoration:underline;
}