<div>
    <h3>Welcome to Pyrifera</h3>
    <p>
        Pyrifera is an open-source application for visualizing the results of 
        ecological monitoring built by the McClintock lab at the University of
        California Santa Barbara. The source code is freely available on the 
        <a target="_blank" href="http://code.google.com/p/pyrifera/" title="pyrifera - a web application for visualizing ecological monitoring data along the California coast - Google Project Hosting">
        project code site
        </a>
    </p>
    <p>
        Pyrifera is built on top of MarineMap, an open-source framework for 
        the development of decision support tools for Marine Spatial Planning.
        MarineMap was developed by collaborators at the University of 
        California Santa Barbara, Ecotrust, and The Nature Conservancy. Read
        more at <a target="_blank" href="http://marinemap.org" title="MarineMap Consortium">
        marinemap.org
        </a>
    </p>
</div>
