{% extends 'common/panel.html' %}
{% block title %}{{site.name}}{% endblock title %}
{% block panel %}
    <h1>{{site.name}}</h1>
    <div class="tabs">
        <ul>
            <li><a href="#SiteInfo"><span>Site Info</span></a></li>
            <li><a href="{% url monitoring.views.species_lists site.pk %}"><span>Species Lists</span></a></li>
            <li><a href="#Streamgraphs"><span>Streamgraphs</span></a></li>
            <li><a href="#SizeFrequency"><span>SizeFrequency</span></a></li>
        </ul>
        <div id="SiteInfo">
            <p class="project">A {{site.project.name}} Site</p>
            <p class="dates"><a href="http://intertidalweb.org/subtidal/subtidal/pages/timeline.php#SCI_PELICAN">1985-2009 <- graphic display here</a></p>
            <h4>sampled here</h4>
            <ul>
                {% for protocol in site.protocols.all %}
                    <li>{{protocol.name}}</li>
                {% endfor %}
            </ul>
            <ul class="videos">
                {% for video in site.videos.all %}
                <video controls preload width="320" height="240">
                     <source src="{{video.url}}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
                </video>                    
                {% endfor %}
            </ul>
        </div>
        <div id="Streamgraphs">
            {% for protocol in site.protocols.all %}
                <h4><a target="_blank" href="{% url monitoring.views.streamgraph site.pk protocol.pk %}">{{protocol.name}}</a></h4>
            {% endfor %}
        </div>
        <div id="SizeFrequency">
            <p>....</p>
        </div>
    </div>
{% endblock panel %}