{% extends 'common/panel.html' %}
{% block title %}{{site.name}} Species Lists{% endblock title %}
{% block panel %}
    {% if not is_ajax and not request.is_ajax %}
    <h1>{{site.name}} Species Lists</h1>
    {% endif %}
    <div class="tabs">
        <ul>
            {% for protocol in site.protocols.all %}
                <li><a href="#protocol_{{protocol.pk}}">{{protocol.name}}</a></li>
            {% endfor %}
        </ul>
        {% for protocol in site.protocols.all %}
            <div id="protocol_{{protocol.pk}}">
                <img src="{{MEDIA_URL}}mockups/species_list.png" />
            </div>
        {% endfor %}
    </div>
{% endblock panel %}